@page "/"
@page "/anagrafica"

@attribute [Authorize]
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ricerca agenti</h5>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputNome" placeholder="Nome" @bind-value="AgentiSearchParameters.Nome" />
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputCognome" placeholder="Cognome" @bind-value="AgentiSearchParameters.Cognome" />
            </div>

            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputMatricola" placeholder="Matricola" @bind-value="AgentiSearchParameters.Matricola" />
            </div>
            <div class="form-group col-md-6">
                <select id="inputReparto" class="form-control" @bind="AgentiSearchParameters.RepartoId">
                    <option selected>Scegli reparto...</option>
                    <option value="">Tutti i reparti</option>
                    @foreach (var reparto in Reparti)
                    {
                        <option value="@reparto.Id">@reparto.Nome</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-lg btn-primary ml-1" @onclick="GetAgenti"><span class="oi oi-magnifying-glass"></span> Cerca</button>
        </div>
    </div>
</div>

@if (Agenti != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Matricola</th>
                <th scope="col">Reparto</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agente in Agenti)
            {
                <tr>
                    <td>@agente.Nome</td>
                    <td>@agente.Cognome</td>
                    <td>@agente.Matricola</td>
                    <td>@agente.NomeReparto</td>
                    <td><NavLink href="@GetAggiungiTurnoUrl(agente.Id)">Aggiungi turno</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}